aside {
    background: #F8F9FB;
    font-size: small;
    color: #888;
}

main {
    background: white;
}

.mainWrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 310px auto;
}

.movieName {
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
}

.searchBar {
    display: block;
    margin: 2rem auto 1rem auto;
    width: 90%;
    border: none;
    height: 2rem;
    border-radius: 5px;
    padding-left: 0.5rem;
    text-transform: capitalize;
}

.movieDetails {
    display: grid;
    grid-template-columns: auto 1fr;
}

.poster {
    margin: 4rem 1rem 1rem 5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    height: 400px;
}

.movieDetailsColumn2 {
    display:flex;
    flex-direction: column;
    flex: 1;

    margin: 4rem 4rem 1rem 4rem;
}

.addButton {
    background: rgb(100, 207, 109);
    color: white;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;

    margin-top: auto;
}

.genre {
    display: inline-block;
    background: lightblue;
    border-radius: 5px;
    padding: 7px;
    color: white;
    margin: 10px 10px 5px 0px;
    text-transform: capitalize;
}

.movieInfo {
    display: flex;
    direction: row;
}

.movieHeading {
    margin-bottom: 5px;
}